* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: .3rem solid black;
    display: flex;
}

.box {
    width: 10rem;
    height: 10rem;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: #5943ff;
}


.box3 {
    background-color: #13a4a4;
}

.box4 {
    background-color: aqua;
}

.box5 {
    background-color: purple;
}

.box6 {
    background-color: brown;
}

