/*Este es el primer layout realizado unicamente con los conocimientos adquiridos
tratar de entender porque se desfasa el section de aside si no usas absolute **
De resto fue bastante sencillo, otro detalle que en la barra de nav se desfasa por
un ligero margin que general las ul ***/



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /*font-size: 62.5%;*/
}

header {
    height: 40px;
    background-color: aquamarine;
}

nav {
    height: 100%;
}

.header__logo {
    display: inline-block;
    width: 30%;
    height: 100%;
}

.header-nav {
    display: inline-block;
    width: 69.5%;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: right;
    list-style: none;
}

.header-nav__item {
    margin-right: 5px;
    display: inline-block;
}

.header-nav__item a {
    text-decoration: none;
}

main {
    height: 559px;
    background-color: #5943ff;
}

.main-left-column {
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: #13a4a4;
}

.main-left-column__item {
    width: 90%;
    height: 22.5%;
    margin: 10px auto;
    border-radius: 5px;
    display: block;
    border: solid black 1px;
}

.main-right-content {
    width: 80%;
    display: inline-block;
    position: absolute;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: aquamarine;

}

