ul {
    text-decoration: none;
    font-size: 20px;
    color: rebeccapurple;
}

li {
    font-size: 18px;
    color: royalblue;
}

/*Me dio flojera ponerle mas estilos
o cambiar los elementos por imagenes
:'v jajajajaj*/