*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 75%; /*Esto sirve de herencia porque dentro
                      de nuestra etiqueta html le agrega estilos
                      y le decimos que de ese att le asigne el
                      75% en CSS, esto no aplica con el h1 porque
                      el navegador le da un estilo respectivo.*/
    font-family: Verdana, serif; /*Pero si le cambia la fuente.*/
}

h1{
    font-size: inherit; /*De esta forma le decimos que herede
                        de su padre el tama;o definido.*/
}

